/* Navbar.css */
/* Contenedor */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #fff1e6; /* Fondo en Azul Profundo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif; /* Aplica Montserrat solo al Navbar */
    width: 100%;
    height: auto;
    margin-top: 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 7rem;
    height: 8rem;
    margin-right: 10px;
}


/* Estilo del widget del carrito */
.cart-widget {
    color: #FFF1E6; /* Color Crema Suave */
}

.cart-widget:hover {
    color: #8D4F3F; /* Color Terracota Oscuro al pasar el cursor */
}
