/* Navbar.css */
/* Contenedor */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff1e6; /* Fondo en Azul Profundo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif; /* Aplica Montserrat solo al Navbar */
    width: 85vw;
    height: 3rem;
    margin-top: 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 7rem;
    height: 8rem;
    margin-right: 10px;
}
/* Titulo Navbar */
.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #264653;
    margin-right: 4rem;
}

/* Contenedor Links */
.nav-links {
    display: flex;
    gap: 20px;
}

/* Links textos */
.nav-link {
    text-decoration: none;
    color: #264653;
    font-size: 1rem;
    padding: 5px 10px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #8D4F3F; /* Color Terracota Oscuro al pasar el cursor */
}

/* Estilo del widget del carrito */
.cart-widget {
    color: #FFF1E6; /* Color Crema Suave */
}

.cart-widget:hover {
    color: #8D4F3F; /* Color Terracota Oscuro al pasar el cursor */
}
