.productos {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .producto-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 250px;
    text-align: center;
    padding: 15px;
  }
  
  .producto-card:hover {
    transform: translateY(-10px);
  }
  
  .producto-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
  }

  .producto-image img {
    width: 50%;
    height: auto;
  }
  
  .producto-info {
    padding: 15px;
  }
  
  .producto-info h2 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .producto-description {
    color: #777;
    font-size: 0.9em;
    margin-bottom: 15px;
  }
  
  .producto-price {
    font-size: 1.2em;
    font-weight: bold;
    color: #28a745;
    margin-bottom: 20px;
  }
  
  .details-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .details-button:hover {
    background-color: #0056b3;
  }
  